<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sena.gosale">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Estadisticas4"
            android:exported="true" />
        <activity
            android:name=".Estadisticas3"
            android:exported="true" />
        <activity
            android:name=".Estadisticas2"
            android:exported="true" />
        <activity
            android:name=".Estadisticas"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" /> <!-- visitas -->
        <activity
            android:name=".Activity_visita2"
            android:exported="true" />
        <activity
            android:name=".Activity_visita1"
            android:exported="true" />
        <activity
            android:name=".Activity_vista"
            android:exported="true" />
        <activity
            android:name=".VisitafinalActivity"
            android:exported="true" /> <!-- clientes -->
        <activity
            android:name=".ClientesLocalizacionActivity"
            android:exported="true" />
        <activity
            android:name=".ClientesInformacionDescripcionActivity"
            android:exported="true" />
        <activity
            android:name=".ClientesInformacionActivity"
            android:exported="true" />
        <activity
            android:name=".ClientesActivity"
            android:exported="true" /> <!-- Producto -->
        <activity
            android:name=".productsAnatomyActivity"
            android:exported="true" />
        <activity
            android:name=".ProductsLineActivity"
            android:exported="true" />
        <activity
            android:name=".ProductoActivity"
            android:exported="true" /> <!-- login -->
        <activity
            android:name=".loguinActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>