<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sena.gosale" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".VisitaAgendaActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" /> <!-- Visita -->
        <activity
            android:name=".VisitaActivity"
            android:exported="true" />
        <activity
            android:name=".Activity_visita1"
            android:exported="true" />
        <activity
            android:name=".VisitaActivity2"
            android:exported="true" />
        <activity
            android:name=".VisitafinalActivity"
            android:exported="true" /> <!-- Ordenes -->
        <activity
            android:name=".OrdenesActivity"
            android:exported="true" /> <!-- Recaudo -->
        <activity
            android:name=".RecaudosActivity"
            android:exported="true" />
        <activity
            android:name=".RecaudosActivity2"
            android:exported="true" />
        <activity
            android:name=".RecaudosActivity3"
            android:exported="true" />
        <activity
            android:name=".RecaudosActivity4"
            android:exported="true" />
        <activity
            android:name=".RecaudosActivity5"
            android:exported="true" />
        <activity
            android:name=".RecaudosActivity6"
            android:exported="true" /> <!-- Devoluciones -->
        <activity
            android:name=".DevolucionesActivity"
            android:exported="true" />
        <activity
            android:name=".DevolucionesActivity2"
            android:exported="true" />
        <activity
            android:name=".DevolucionesActivity3"
            android:exported="true" />
        <activity
            android:name=".DevolucionesActivity4"
            android:exported="true" />
        <activity
            android:name=".DevolucionesActivity5"
            android:exported="true" />
        <activity
            android:name=".DevolucionesActivity6"
            android:exported="true" /> <!-- Cliente -->
        <activity
            android:name=".ClientesLocalizacionActivity"
            android:exported="true" />
        <activity
            android:name=".ClientesInformacionDescripcionActivity"
            android:exported="true" />
        <activity
            android:name=".ClientesInformacionActivity"
            android:exported="true" />
        <activity
            android:name=".ClientesActivity"
            android:exported="true" />
        <!-- Producto -->
        <activity
            android:name=".productsAnatomyActivity"
            android:exported="true"/>
        <activity
            android:name=".ProductsLineActivity"
            android:exported="true" />
        <activity
            android:name=".ProductoActivity"
            android:exported="true" /> <!-- Login -->
        <activity
            android:name=".loguinActivity"
            android:exported="true"
            android:theme="@style/TextInputEditText" >
            <!-- android:theme="@style/SplashTheme"  -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!-- Principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true" /> <!-- Estadisticas -->
        <activity
            android:name=".EstadisticasActivity"
            android:exported="true" />
        <activity
            android:name=".EstadisticasActivity2"
            android:exported="true" />
        <activity
            android:name=".EstadisticasActivity3"
            android:exported="true" />
        <activity
            android:name=".EstadisticasActivity4"
            android:exported="true" />
    </application>

</manifest>